<h1>photo</h1>

<%= image_tag @photo.image %>
<p>
  <%= @photo.description %>
</p>

<hr>
<%= render 'comments/form' %>


<% @photo.comments.each do |comment| %>
  <p>
    <%= comment.content %>
    <%= User.find(comment.user_id).email %>
  </p>
<% end %>
