<nav class="navbar navbar-default">
  <div class="container-fluid">
    <% if user_signed_in? && current_user.avatar_file_name %>
    <div class="navbar-header">
      <div class="chip navbar-brand">
        <%= image_tag current_user.avatar, :class => 'img-chip' %>
        <%= current_user.email %>
      </div>
    </div>
    <% end %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
      <ul class="nav navbar-nav">
        <% if !current_user.avatar_file_name %>
        <li><%= link_to 'Add Avatar Photo', user_upload_path(current_user) %></li>
        <% end %>
        <li><%= link_to 'See your Photos', user_path(current_user) %></li>
        <li><%= link_to 'Upload a Photo', new_user_photo_path(current_user) %></li>
        <li><%= link_to 'See community uploads', photos_path %></li>
        <li>hey<%= current_user.name %>hey</li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
            <li><%= link_to 'Edit profile', edit_user_registration_path%></li>
            <li><%= link_to 'Edit Avatar Photo', user_upload_path(current_user) %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    </div>
  </div>
</nav>
